<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Routes</title>
    <script>
        function confirmDeleteAccount() {
            if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
                document.getElementById("deleteAccountForm").submit();
            }
        }
    </script>
    <link rel="stylesheet" href="/myRoutes.css">
</head>

<body>
    <h1 class="cruxtrack-title">CruxTrack</h1>
    <h2 class="my-routes-title">Routes for: <%= user.username %>
    </h2>

    <div class="user-info">
        <p class="logged-in-as">Logged In: <%= user.username %>
        </p>
        <%- include('logoutButton') %>
            <form id="deleteAccountForm" action="/deleteaccount" method="POST">
                <button type="button" onclick="confirmDeleteAccount()" class="delete-account-button">Delete
                    Account</button>
            </form>
    </div>

    <div class="route-container">
        <% if (routes.length===0) { %>
            <p>No routes found.</p>
            <% } else { %>
                <ul class="route-list">
                    <% routes.forEach((route)=> { %>
                        <li>
                            <a href="/mycruxtrack/route/<%= route._id %>">
                                <%= route.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
                <% } %>


    </div>
    <button onclick="location.href='/mycruxtrack/newroute'" class="add-route-button">Add New
        Route</button>
</body>


</html>