<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Details</title>
</head>

<body>
    <h1>Route Details</h1>
    <p>Name: <%= route.name %>
    </p>
    <p>Difficulty: <%= route.difficulty %>
    </p>
    <p>Type: <%= route.type %>
    </p>
    <p>Location: <%= route.location %>
    </p>
    <!-- Add more details as needed -->

    <!-- Edit Route button -->
    <form action="/mycruxtrack/route/<%= route._id %>/edit">
        <button type="submit">Edit Route</button>
    </form>

    <!-- Delete Route button -->
    <form action="/mycruxtrack/route/<%= route._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Route</button>
    </form>

    <!-- Back to Routes button -->
    <form action="/mycruxtrack/myroutes">
        <button type="submit">Back to Routes</button>
    </form>
    <%- include('logoutButton') %>
</body>

</html>