<!-- routeDetails.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Details</title>
    <link rel="stylesheet" href="/routeDetails.css"> <!-- Include external CSS file -->
</head>

<body>
    <h1 class="route-title">CruxTrack</h1> <!-- Heading for the page title -->
    <h2>Route Details for: <%= route.name %> <!-- Display the name of the route using EJS template syntax -->
    </h2>
    <div class="user-info">
        <p>Logged in as: <%= user.username %>
                <!-- Display the username of the logged-in user using EJS template syntax -->
        </p>
        <%- include('logoutButton') %> <!-- Include a partial template named 'logoutButton' -->
    </div>

    <div class="route-info-container">
        <p class="route-info">Name: <%= route.name %> <!-- Display the name of the route using EJS template syntax -->
        </p>
        <p class="route-info">Difficulty: <%= route.difficulty %>
                <!-- Display the difficulty of the route using EJS template syntax -->
        </p>
        <p class="route-info">Type: <%= route.type %> <!-- Display the type of the route using EJS template syntax -->
        </p>
        <p class="route-info">Location: <%= route.location %>
                <!-- Display the location of the route using EJS template syntax -->
        </p>
        <p class="route-info">Ticks: <%= route.ticks %>
                <!-- Display the ticks (number of completed climbs) of the route using EJS template syntax -->
        </p>
        <div class="button-container">
            <form action="/mycruxtrack/route/<%= route._id %>/edit" method="GET">
                <button class="edit-button" type="submit">Edit Route</button>
                <!-- Button to submit a form for editing the route -->
            </form>
            <form action="/mycruxtrack/route/<%= route._id %>?_method=DELETE" method="POST">
                <button class="delete-button" type="submit">Delete Route</button>
                <!-- Button to submit a form for deleting the route -->
            </form>
        </div>
    </div>


    <form action="/mycruxtrack/myroutes" method="GET">
        <button class="back-button" type="submit">Back to Routes</button>
        <!-- Button to navigate back to the routes page -->
    </form>
</body>

</html>